<!-- templates/model1.html -->
{% extends 'base.html' %}

{% block content %}
<form action="/model1" method="post">
    <label for="user">Select a user:</label>
    <select name="user" id="user">
        {% for user in users %}
            <option value="{{ user }}">{{ user }}</option>
        {% endfor %}
    </select>
    <button type="submit">Get Recommendations</button>
</form>

    <div class="content">
        <center><h1>Product Recommendation by Movies</h1></center>
        <center><h2>Selected User: {{ selected_user }}</h2></center>
        <div class="card-container">
            {% for product in recommendations %}
                <div class="card">
                    <h2>{{ product }}</h2>
                    <img src="{{ url_for('static', filename='sample1.jpg')}}" alt="{{ product }}">
                    <p>Product description or details</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}